@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');
@plugin '@tailwindcss/typography';

@layer base {
	@font-face {
		font-family: AvenirNext;
		font-weight: bold;
		src: url('$lib/assets/fonts/avenirnext/avenir-next-condensed-bold.ttf');
	}

	.title-text {
		font-family: AvenirNext;
	}

}

body.modal-open {
	overflow: hidden;
}

@font-face {
	font-family: 'BeachDay';
	src: url("/fonts/beachday.regular.otf") format("opentype");
}

@theme {
	--color-sky-background: #C7DEE0;
	--color-grass-background: #7B9B5B;
	--color-button-primary: #c9836d;

	--font-montserrat: 'Montserrat', sans-serif;

	--font-beachday: 'BeachDay', sans-serif;
}